# LIMPIEZA PARTE II

In [1]:
# Importar librer√≠as
import pandas as pd
import numpy as np
import os
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# Importar las funciones de limpieza que ya creaste
import sys
sys.path.append('../')
from src import limpieza as sl

# Configuraci√≥n de pandas para mejor visualizaci√≥n
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.float_format', '{:.2f}'.format)

print("‚úÖ Librer√≠as importadas correctamente")
print(f"üìÖ Fecha de ejecuci√≥n: {datetime.now().strftime('%Y-%m-%d %H:%M')}")

‚úÖ Librer√≠as importadas correctamente
üìÖ Fecha de ejecuci√≥n: 2025-11-11 00:14

In [2]:
# Definir rutas
ruta_raw = '../data/raw/csv'
ruta_processed = '../data/processed'
ruta_interim = '../data/interim'

## Limpieza dataset del CO516

In [3]:
print("\n" + "="*40)
print("üìÇ CO516 - INSTALACIONES LOG√çSTICAS")
print("="*40)

========================================
üìÇ CO516 - INSTALACIONES LOG√çSTICAS
========================================

In [4]:
path_co516 = os.path.join(ruta_raw, "CO516_Superficie_Instalacs_Logistica_Carr__TipoInstalac_CCAA_Provincia.csv")
df_co516 = pd.read_csv(path_co516, sep=',', encoding='utf-8', decimal=',')

print(f"\nüìä Dimensiones del dataset: {df_co516.shape}")
print(f"\nüìã Columnas encontradas:")
for i, col in enumerate(df_co516.columns):
    print(f"   {i}: {col}")

# Ver las primeras filas
print("\nüîç Primeras 5 filas:")
df_co516.head(10)

üìä Dimensiones del dataset: (10402, 17)

üìã Columnas encontradas:
   0: year
   1: comunidad
   2: provincia
   3: nombreAliMkt_tipoInst
   4: nombreAliMkt_Inst
   5: Textbox10
   6: Textbox27
   7: Textbox28
   8: Textbox33
   9: Textbox22
   10: Textbox24
   11: Textbox29
   12: Textbox34
   13: Textbox14
   14: Textbox19
   15: Textbox20
   16: Textbox21

üîç Primeras 5 filas:

,year,comunidad,provincia,nombreAliMkt_tipoInst,nombreAliMkt_Inst,Textbox10,Textbox27,Textbox28,Textbox33,Textbox22,Textbox24,Textbox29,Textbox34,Textbox14,Textbox19,Textbox20,Textbox21
0,2017 (diciembre),Andaluc√≠a,Almer√≠a,Almacenes transporte,Almac√©n aduanas / fiscal,NaN,Subtotal almacenes transporte,42.589,165.208,Total Andaluc√≠a,NaN,629.657,3.105.206,Total 2017,145.210,6.457.417,29.479.279
1,2017 (diciembre),Andaluc√≠a,Almer√≠a,Almacenes transporte,Almac√©n paqueter√≠a,14.569,Subtotal almacenes transporte,42.589,165.208,Total Andaluc√≠a,322.037,629.657,3.105.206,Total 2017,2.594.982,6.457.417,29.479.279
2,2017 (diciembre),Andaluc√≠a,Almer√≠a,Almacenes transporte,Almac√©n transportista,28.020,Subtotal almacenes transporte,42.589,165.208,Total Andaluc√≠a,307.620,629.657,3.105.206,Total 2017,3.717.225,6.457.417,29.479.279
3,2017 (diciembre),Andaluc√≠a,Almer√≠a,Plataforma log√≠stica distribuci√≥n,Plat. log. distribuci√≥n base alimentaria,25.669,Subtotal plataforma log√≠stica distribuci√≥n,38.319,165.208,Total Andaluc√≠a,1.170.916,1.383.873,3.105.206,Total 2017,5.130.028,9.233.562,29.479.279
4,2017 (diciembre),Andaluc√≠a,Almer√≠a,Plataforma log√≠stica distribuci√≥n,Plat. log. distribuci√≥n droguer√≠a-perfumer√≠a,1.950,Subtotal plataforma log√≠stica distribuci√≥n,38.319,165.208,Total Andaluc√≠a,26.550,1.383.873,3.105.206,Total 2017,277.820,9.233.562,29.479.279
5,2017 (diciembre),Andaluc√≠a,Almer√≠a,Plataforma log√≠stica distribuci√≥n,Plat. log. distribuci√≥n electro / tecnol√≥gica,7.200,Subtotal plataforma log√≠stica distribuci√≥n,38.319,165.208,Total Andaluc√≠a,87.236,1.383.873,3.105.206,Total 2017,912.774,9.233.562,29.479.279
6,2017 (diciembre),Andaluc√≠a,Almer√≠a,Plataforma log√≠stica distribuci√≥n,Plat. log. distribuci√≥n sanitaria,NaN,Subtotal plataforma log√≠stica distribuci√≥n,38.319,165.208,Total Andaluc√≠a,3.800,1.383.873,3.105.206,Total 2017,82.100,9.233.562,29.479.279
7,2017 (diciembre),Andaluc√≠a,Almer√≠a,Plataforma log√≠stica distribuci√≥n,Plat. log. distribuci√≥n material construcci√≥n,NaN,Subtotal plataforma log√≠stica distribuci√≥n,38.319,165.208,Total Andaluc√≠a,15.000,1.383.873,3.105.206,Total 2017,230.000,9.233.562,29.479.279
8,2017 (diciembre),Andaluc√≠a,Almer√≠a,Plataforma log√≠stica distribuci√≥n,Plat. log. distribuci√≥n non food,NaN,Subtotal plataforma log√≠stica distribuci√≥n,38.319,165.208,Total Andaluc√≠a,150,1.383.873,3.105.206,Total 2017,339.318,9.233.562,29.479.279
9,2017 (diciembre),Andaluc√≠a,Almer√≠a,Plataforma log√≠stica distribuci√≥n,Plat. log. distribuci√≥n / varios,3.500,Subtotal plataforma log√≠stica distribuci√≥n,38.319,165.208,Total Andaluc√≠a,67.051,1.383.873,3.105.206,Total 2017,1.808.109,9.233.562,29.479.279

In [5]:
# An√°lisis de las columnas y sus valores √∫nicos
print("üìã An√°lisis de columnas principales:\n")

# Tipos de instalaciones
print("üè≠ Tipos de instalaciones √∫nicas:")
print(df_co516['nombreAliMkt_tipoInst'].value_counts())

üìã An√°lisis de columnas principales:

üè≠ Tipos de instalaciones √∫nicas:
nombreAliMkt_tipoInst
Plataforma log√≠stica distribuci√≥n    3168
Plataforma log√≠stica industria       2464
Instalaciones especializadas         1760
Almacenes transporte                 1056
Plataforma mixta                      352
Name: count, dtype: int64

In [6]:
# Instalaciones espec√≠ficas
print("\nüè¢ Tipos espec√≠ficos de instalaciones:")
print(df_co516['nombreAliMkt_Inst'].value_counts())

üè¢ Tipos espec√≠ficos de instalaciones:
nombreAliMkt_Inst
Almac√©n aduanas / fiscal                         352
Almac√©n paqueter√≠a                               352
Almac√©n transportista                            352
Plat. log. distribuci√≥n base alimentaria         352
Plat. log. distribuci√≥n droguer√≠a-perfumer√≠a     352
Plat. log. distribuci√≥n electro / tecnol√≥gica    352
Plat. log. distribuci√≥n sanitaria                352
Plat. log. distribuci√≥n material construcci√≥n    352
Plat. log. distribuci√≥n non food                 352
Plat. log. distribuci√≥n / varios                 352
Plat. log. temp. controlada dis. alimentaria     352
Plat. log. e-commerce                            352
Plat. log. industria alimentaci√≥n y bebidas      352
Plat. log. industria electro / tecnol√≥gica       352
Plat. log. industria sanitaria                   352
Plat. log. industria material construcci√≥n       352
Plat. log. industria non food gran consumo       352
Plat. log. industria / varios                    352
Plat. log. temp. controlada ind. alimentaria     352
Plataforma mixta                                 352
Frigor√≠fico de servicios                         352
Almac√©n farmac√©utico                             352
Plat. log. mercanc√≠as peligrosas                 352
Plataforma autom√≥vil                             352
Plat. log. textil                                352
Name: count, dtype: int64

In [7]:
# Verificar provincias
print(f"\nüó∫Ô∏è N√∫mero de provincias: {df_co516['provincia'].nunique()}")
print(f"N√∫mero de comunidades: {df_co516['comunidad'].nunique()}")

# Ver el tipo de datos en las columnas num√©ricas
print("\nüîç An√°lisis de columnas Textbox:")
# Seleccionar solo las primeras para ver el patr√≥n
for col in ['Textbox10', 'Textbox27', 'Textbox28']:
    print(f"\n{col}:")
    print(f"  Tipo: {df_co516[col].dtype}")
    print(f"  Muestra: {df_co516[col].dropna().head(3).tolist()}")

# Verificar valores nulos
print("\n‚ùì Valores nulos en columnas clave:")
cols_importantes = ['comunidad', 'provincia', 'nombreAliMkt_tipoInst', 
                   'nombreAliMkt_Inst', 'Textbox10', 'Textbox27']
for col in cols_importantes:
    nulos = df_co516[col].isnull().sum()
    print(f"  {col}: {nulos} ({nulos/len(df_co516)*100:.1f}%)")

üó∫Ô∏è N√∫mero de provincias: 44
N√∫mero de comunidades: 13

üîç An√°lisis de columnas Textbox:

Textbox10:
  Tipo: object
  Muestra: ['14.569', '28.020', '25.669']

Textbox27:
  Tipo: object
  Muestra: ['Subtotal almacenes transporte', 'Subtotal almacenes transporte', 'Subtotal almacenes transporte']

Textbox28:
  Tipo: object
  Muestra: ['42.589', '42.589', '42.589']

‚ùì Valores nulos en columnas clave:
  comunidad: 1602 (15.4%)
  provincia: 1602 (15.4%)
  nombreAliMkt_tipoInst: 1602 (15.4%)
  nombreAliMkt_Inst: 1602 (15.4%)
  Textbox10: 6586 (63.3%)
  Textbox27: 1602 (15.4%)

In [8]:
# Crear copia para limpieza
df_co516_copy = df_co516.copy()

# Identificar qu√© representa cada columna Textbox mirando los patrones
print("üîç Identificando contenido de columnas Textbox...")
print(f"Textbox10 parece ser: superficie en m¬≤ (valores como 14.569)")
print(f"Textbox27 parece ser: descripci√≥n del subtotal")
print(f"Textbox28 parece ser: total de superficie")

# Limpiar las columnas num√©ricas
columnas_numericas_limpiar = ['Textbox10', 'Textbox28', 'Textbox33', 
                              'Textbox22', 'Textbox24', 'Textbox29', 
                              'Textbox34', 'Textbox14', 'Textbox19', 
                              'Textbox20', 'Textbox21']

for col in columnas_numericas_limpiar:
    if col in df_co516_copy.columns:
        df_co516_copy[col] = df_co516_copy[col].apply(sl.limpiar_valor_numerico)

üîç Identificando contenido de columnas Textbox...
Textbox10 parece ser: superficie en m¬≤ (valores como 14.569)
Textbox27 parece ser: descripci√≥n del subtotal
Textbox28 parece ser: total de superficie

In [9]:
# 3. Renombrar las columnas principales para claridad
df_co516_copy = df_co516_copy.rename(columns={
    'year': 'a√±o',
    'nombreAliMkt_tipoInst': 'tipo_instalacion',
    'nombreAliMkt_Inst': 'subtipo_instalacion',
    'Textbox10': 'superficie_m2'
})

# 4. Seleccionar las columnas relevantes
columnas_relevantes = ['a√±o', 'comunidad', 'provincia', 
                      'tipo_instalacion', 'subtipo_instalacion', 
                      'superficie_m2']

df_co516_copy = df_co516_copy[columnas_relevantes].copy()
df_co516_copy.head()

,a√±o,comunidad,provincia,tipo_instalacion,subtipo_instalacion,superficie_m2
0,2017 (diciembre),Andaluc√≠a,Almer√≠a,Almacenes transporte,Almac√©n aduanas / fiscal,NaN
1,2017 (diciembre),Andaluc√≠a,Almer√≠a,Almacenes transporte,Almac√©n paqueter√≠a,14569.00
2,2017 (diciembre),Andaluc√≠a,Almer√≠a,Almacenes transporte,Almac√©n transportista,28020.00
3,2017 (diciembre),Andaluc√≠a,Almer√≠a,Plataforma log√≠stica distribuci√≥n,Plat. log. distribuci√≥n base alimentaria,25669.00
4,2017 (diciembre),Andaluc√≠a,Almer√≠a,Plataforma log√≠stica distribuci√≥n,Plat. log. distribuci√≥n droguer√≠a-perfumer√≠a,1950.00

In [10]:
# 5. Eliminar filas con valores nulos en superficie_m2
print(f"\n‚ùå Eliminando {df_co516_copy['superficie_m2'].isnull().sum()} filas sin superficie...")
df_co516_copy = df_co516_copy.dropna(subset=['superficie_m2'])

# 6. Verificar el resultado
print(f"\n‚úÖ Dataset limpio:")
print(f"- Dimensiones: {df_co516_copy.shape}")
print(f"- Superficie total: {df_co516_copy['superficie_m2'].sum():,.0f} m¬≤")

# Ver resumen por tipo de instalaci√≥n
print(f"\nüìä Superficie por tipo de instalaci√≥n:")
resumen_tipo = df_co516_copy.groupby('tipo_instalacion')['superficie_m2'].agg(['sum', 'count'])
resumen_tipo['sum'] = resumen_tipo['sum'].round(0)
print(resumen_tipo)

‚ùå Eliminando 6586 filas sin superficie...

‚úÖ Dataset limpio:
- Dimensiones: (3816, 6)
- Superficie total: 193,989,296 m¬≤

üìä Superficie por tipo de instalaci√≥n:
                                          sum  count
tipo_instalacion
Almacenes transporte              39342907.00    723
Instalaciones especializadas      10346264.00    359
Plataforma log√≠stica distribuci√≥n 67669782.00   1457
Plataforma log√≠stica industria    75097959.00   1167
Plataforma mixta                   1532384.00    110

In [11]:
# Guardar el archivo limpio
archivo_co516_clean = os.path.join(ruta_processed, 'CO516_superficies_logisticas_clean.csv')
df_co516_copy.to_csv(archivo_co516_clean, index=False, encoding='utf-8')

print(f"‚úÖ Archivo guardado: {archivo_co516_clean}")

# Crear un resumen m√°s detallado por comunidad aut√≥noma
print("\nüìä TOP 5 Comunidades por superficie log√≠stica total:")
superficie_por_ccaa = df_co516_copy.groupby('comunidad')['superficie_m2'].sum().sort_values(ascending=False)
for ccaa, superficie in superficie_por_ccaa.head().items():
    print(f"  {ccaa}: {superficie:,.0f} m¬≤ ({superficie/1000000:.1f} millones m¬≤)")

# Resumen del proceso de limpieza
print("\nüìä RESUMEN DE LIMPIEZA - CO516:")
print(f"- Registros originales: 10,402")
print(f"- Registros con superficie nula: 6,586 (63.3%)")
print(f"- Registros limpios finales: {len(df_co516_copy)}")
print(f"- Tipos de instalaci√≥n: 5")
print(f"- Subtipos de instalaci√≥n: 26")
print(f"- Provincias con datos: {df_co516_copy['provincia'].nunique()}")
print(f"- Superficie total: {df_co516_copy['superficie_m2'].sum()/1000000:.1f} millones m¬≤")
print(f"- A√±o de los datos: 2017 (diciembre)")

‚úÖ Archivo guardado: ../data/processed\CO516_superficies_logisticas_clean.csv

üìä TOP 5 Comunidades por superficie log√≠stica total:
  Catalu√±a: 63,649,153 m¬≤ (63.6 millones m¬≤)
  Castilla - La Mancha: 34,957,466 m¬≤ (35.0 millones m¬≤)
  Comunitat Valenciana: 27,593,211 m¬≤ (27.6 millones m¬≤)
  Andaluc√≠a: 25,329,847 m¬≤ (25.3 millones m¬≤)
  Pa√≠s Vasco: 10,593,357 m¬≤ (10.6 millones m¬≤)

üìä RESUMEN DE LIMPIEZA - CO516:
- Registros originales: 10,402
- Registros con superficie nula: 6,586 (63.3%)
- Registros limpios finales: 3816
- Tipos de instalaci√≥n: 5
- Subtipos de instalaci√≥n: 26
- Provincias con datos: 44
- Superficie total: 194.0 millones m¬≤
- A√±o de los datos: 2017 (diciembre)

## Limpieza dataset del CO519

In [12]:
print("\n" + "="*65)
print("üìÇ CO519 - TRANSPORTE MERCANC√çAS POR MODO TRANSPORTE Y √ÅMBITO")
print("="*65)

=================================================================
üìÇ CO519 - TRANSPORTE MERCANC√çAS POR MODO TRANSPORTE Y √ÅMBITO
=================================================================

In [13]:
path_co519 = os.path.join(ruta_raw, "CO519_Trafico_Total_Merc__ModoTransporte_TipoTrafico_Anyo.csv")
df_co519 = pd.read_csv(path_co519, sep=',', encoding='utf-8', decimal=',')

print(f"\nüìä Dimensiones del dataset: {df_co519.shape}")
print(f"\nüìã Columnas encontradas:")
for i, col in enumerate(df_co519.columns):
    print(f"   {i}: {col}")

# Ver las primeras filas
print("\nüîç Primeras 5 filas:")
df_co519.head(10)

üìä Dimensiones del dataset: (66, 7)

üìã Columnas encontradas:
   0: year
   1: TipoTrafico
   2: ModoTransporte
   3: Textbox15
   4: Textbox20
   5: Textbox17
   6: Textbox21

üîç Primeras 5 filas:

,year,TipoTrafico,ModoTransporte,Textbox15,Textbox20,Textbox17,Textbox21
0,2017,Interior,Carretera,1.335.356,1.407.265,1.441.123,1.954.098
1,2017,Interior,Ferroviario,23.717,1.407.265,28.306,1.954.098
2,2017,Interior,A√©reo,65,1.407.265,857,1.954.098
3,2017,Interior,Mar√≠timo,48.127,1.407.265,483.813,1.954.098
4,2017,Internacional,Carretera,105.767,546.834,1.441.123,1.954.098
5,2017,Internacional,Ferroviario,4.589,546.834,28.306,1.954.098
6,2017,Internacional,A√©reo,792,546.834,857,1.954.098
7,2017,Internacional,Mar√≠timo,435.686,546.834,483.813,1.954.098
8,2018,Interior,Carretera,1.396.277,1.469.095,1.508.021,2.039.372
9,2018,Interior,Ferroviario,24.121,1.469.095,28.251,2.039.372

In [14]:
# An√°lisis de las columnas y sus valores √∫nicos
print("üìã An√°lisis de columnas principales:\n")

# Tipos de instalaciones
print("üè≠ Valores √∫nicos:")
print(df_co519['TipoTrafico'].value_counts())
print(df_co519['ModoTransporte'].value_counts())

üìã An√°lisis de columnas principales:

üè≠ Valores √∫nicos:
TipoTrafico
Interior         32
Internacional    32
Name: count, dtype: int64
ModoTransporte
Carretera      16
Ferroviario    16
A√©reo          16
Mar√≠timo       16
Name: count, dtype: int64

In [15]:
# Ver el tipo de datos en las columnas num√©ricas
print("\nüîç An√°lisis de columnas Textbox:")
# Seleccionar solo las primeras para ver el patr√≥n
for col in ['Textbox15', 'Textbox20', 'Textbox17','Textbox21']:
    print(f"\n{col}:")
    print(f"  Tipo: {df_co519[col].dtype}")
    print(f"  Muestra: {df_co519[col].dropna().head(3).tolist()}")

df_co519.columns

üîç An√°lisis de columnas Textbox:

Textbox15:
  Tipo: object
  Muestra: ['1.335.356', '23.717', '65']

Textbox20:
  Tipo: object
  Muestra: ['1.407.265', '1.407.265', '1.407.265']

Textbox17:
  Tipo: object
  Muestra: ['1.441.123', '28.306', '857']

Textbox21:
  Tipo: object
  Muestra: ['1.954.098', '1.954.098', '1.954.098']

Index(['year', 'TipoTrafico', 'ModoTransporte', 'Textbox15', 'Textbox20',
       'Textbox17', 'Textbox21'],
      dtype='object')

In [16]:
# Verificar valores nulos
print("\n‚ùì Valores nulos en columnas clave:")
cols_importantes = ['year', 'TipoTrafico', 'ModoTransporte', 'Textbox15', 'Textbox20',
       'Textbox17', 'Textbox21']
for col in cols_importantes:
    nulos = df_co519[col].isnull().sum()
    print(f"  {col}: {nulos} ({nulos/len(df_co519)*100:.1f}%)")

‚ùì Valores nulos en columnas clave:
  year: 0 (0.0%)
  TipoTrafico: 2 (3.0%)
  ModoTransporte: 2 (3.0%)
  Textbox15: 6 (9.1%)
  Textbox20: 10 (15.2%)
  Textbox17: 6 (9.1%)
  Textbox21: 10 (15.2%)

In [17]:
# Crear copia para limpieza
df_co519_copy = df_co519.copy()


# Limpiar las columnas num√©ricas
columnas_numericas_limpiar = ['Textbox15', 'Textbox20','Textbox17']

for col in columnas_numericas_limpiar:
    if col in df_co519_copy.columns:
        df_co519_copy[col] = df_co519_copy[col].apply(sl.limpiar_valor_numerico)

In [18]:
# Renombrar las columnas principales para claridad
df_co519_copy = df_co519_copy.rename(columns={
    'year': 'a√±o',
    'TipoTrafico': 'clasificacion',
    'ModoTransporte': 'modo_transporte',
    'Textbox15': 'toneladas'
})

# Seleccionar las columnas relevantes
columnas_relevantes = ['a√±o','clasificacion','modo_transporte','toneladas']

df_co519_copy = df_co519_copy[columnas_relevantes].copy()
df_co519_copy.head()

    a√±o  clasificacion modo_transporte  toneladas
0  2017       Interior       Carretera 1335356.00
1  2017       Interior     Ferroviario   23717.00
2  2017       Interior           A√©reo      65.00
3  2017       Interior        Mar√≠timo   48127.00
4  2017  Internacional       Carretera  105767.00

In [19]:
# 5. Eliminar filas con valores nulos
print(f"\n‚ùå Eliminando {df_co519_copy['toneladas'].isnull().sum()} es na")
df_co519_copy = df_co519_copy.dropna(subset=['toneladas'])

# 6. Verificar el resultado
print(f"\n‚úÖ Dataset limpio:")
print(f"- Dimensiones: {df_co519_copy.shape}")

# Ver resumen
resumen_tipo = df_co519_copy.groupby('a√±o')['toneladas'].agg(['sum', 'count'])
resumen_tipo['sum'] = resumen_tipo['sum'].round(0)
print(resumen_tipo)

‚ùå Eliminando 6 es na

‚úÖ Dataset limpio:
- Dimensiones: (60, 4)
            sum  count
a√±o
2017 1954099.00      8
2018 2039372.00      8
2019 2105980.00      8
2020 1985977.00      8
2021 2172405.00      8
2022 2146700.00      8
2023 2139081.00      8
2024 1679517.00      4

In [20]:
# Guardar el archivo limpio
archivo_co519_clean = os.path.join(ruta_processed, 'CO519_transporte_mercancias_por_modo_y_ambito.csv')
df_co519_copy.to_csv(archivo_co519_clean, index=False, encoding='utf-8')

print(f"‚úÖ Archivo guardado: {archivo_co519_clean}")

df_co519_copy.sample(5)

‚úÖ Archivo guardado: ../data/processed\CO519_transporte_mercancias_por_modo_y_ambito.csv

     a√±o  clasificacion modo_transporte  toneladas
15  2018  Internacional        Mar√≠timo  453520.00
30  2020  Internacional           A√©reo     693.00
45  2022  Internacional     Ferroviario    4745.00
10  2018       Interior           A√©reo      65.00
6   2017  Internacional           A√©reo     792.00

## Limpieza dataset del CO597_CO598

In [21]:
print("\n" + "="*50)
print("üìÇ CO597 - TRANSPORTE INTERNACIONAL DE MERCANC√çAS ")
print("="*50)

==================================================
üìÇ CO597 - TRANSPORTE INTERNACIONAL DE MERCANC√çAS
==================================================

In [22]:
path_co597 = os.path.join(ruta_raw, "CO597_CO598_TRM_int_CAR_Tn_TnKm_Merc_RecibExped_ESP__paises_OrigenDestino.csv")
df_co597 = pd.read_csv(path_co597, sep=',', encoding='utf-8', decimal=',')

print(f"\nüìä Dimensiones del dataset: {df_co597.shape}")
print(f"\nüìã Columnas encontradas:")
for i, col in enumerate(df_co597.columns):
    print(f"   {i}: {col}")

# Ver las primeras filas
print("\nüîç Primeras 5 filas:")
df_co597.head(10)

üìä Dimensiones del dataset: (992, 9)

üìã Columnas encontradas:
   0: nombreZonaAreaGeoMundo
   1: Pais
   2: tipo_desplazamiento
   3: year
   4: Unidad
   5: valor
   6: Textbox4
   7: Textbox6
   8: Textbox16

üîç Primeras 5 filas:

,nombreZonaAreaGeoMundo,Pais,tipo_desplazamiento,year,Unidad,valor,Textbox4,Textbox6,Textbox16
0,UE-27,NaN,Recibido,2017,Miles de toneladas,45.566,Subtotal UE-27,45.566,54.400
1,UE-27,NaN,Recibido,2017,Millones de toneladas-kil√≥metro,48.173,Subtotal UE-27,48.173,59.375
2,UE-27,NaN,Recibido,2018,Miles de toneladas,48.714,Subtotal UE-27,48.714,55.985
3,UE-27,NaN,Recibido,2018,Millones de toneladas-kil√≥metro,51.804,Subtotal UE-27,51.804,61.417
4,UE-27,NaN,Recibido,2019,Miles de toneladas,49.240,Subtotal UE-27,49.240,59.660
5,UE-27,NaN,Recibido,2019,Millones de toneladas-kil√≥metro,52.740,Subtotal UE-27,52.740,65.176
6,UE-27,NaN,Recibido,2020,Miles de toneladas,46.029,Subtotal UE-27,46.029,56.608
7,UE-27,NaN,Recibido,2020,Millones de toneladas-kil√≥metro,48.692,Subtotal UE-27,48.692,62.656
8,UE-27,NaN,Recibido,2021,Miles de toneladas,51.707,Subtotal UE-27,51.707,61.382
9,UE-27,NaN,Recibido,2021,Millones de toneladas-kil√≥metro,56.145,Subtotal UE-27,56.145,68.440

In [23]:
# An√°lisis de las columnas y sus valores √∫nicos
print("üìã An√°lisis de columnas principales:\n")

# Tipos de instalaciones
print("üè≠ Valores √∫nicos:")
print(df_co597['nombreZonaAreaGeoMundo'].value_counts())

üìã An√°lisis de columnas principales:

üè≠ Valores √∫nicos:
nombreZonaAreaGeoMundo
UE-27                           800
Otros pa√≠ses declarantes         96
Resto de Europa                  32
Resto del Mundo (sin Europa)     32
Total                            32
Name: count, dtype: int64

In [24]:
print(df_co597['Pais'].value_counts())

Pais
Alemania           32
Austria            32
B√©lgica            32
Bulgaria           32
Croacia            32
Dinamarca          32
Eslovaquia         32
Eslovenia          32
Estonia            32
Finlandia          32
Francia            32
Grecia             32
Hungr√≠a            32
Irlanda            32
Italia             32
Letonia            32
Lituania           32
Luxemburgo         32
Pa√≠ses Bajos       32
Polonia            32
Portugal           32
Rep√∫blica Checa    32
Ruman√≠a            32
Suecia             32
Noruega            32
Reino Unido        32
Suiza              32
Name: count, dtype: int64

In [25]:
print(df_co597['tipo_desplazamiento'].value_counts())
print(df_co597['Textbox4'].value_counts())

tipo_desplazamiento
Recibido    496
Expedido    496
Name: count, dtype: int64
Textbox4
Subtotal UE-27                           800
Subtotal otros pa√≠ses declarantes         96
Subtotal resto de Europa                  32
Subtotal resto del Mundo (sin Europa)     32
Subtotal total                            32
Name: count, dtype: int64

In [26]:
# Ver el tipo de datos en las columnas num√©ricas
print("\nüîç An√°lisis de columnas Textbox:")
# Seleccionar solo las primeras para ver el patr√≥n
for col in ['Textbox6', 'Textbox16']:
    print(f"\n{col}:")
    print(f"  Tipo: {df_co597[col].dtype}")
    print(f"  Muestra: {df_co597[col].dropna().head(3).tolist()}")

df_co597.columns

üîç An√°lisis de columnas Textbox:

Textbox6:
  Tipo: object
  Muestra: ['45.566', '48.173', '48.714']

Textbox16:
  Tipo: object
  Muestra: ['54.400', '59.375', '55.985']

Index(['nombreZonaAreaGeoMundo', 'Pais', 'tipo_desplazamiento', 'year',
       'Unidad', 'valor', 'Textbox4', 'Textbox6', 'Textbox16'],
      dtype='object')

In [27]:
# Verificar valores nulos
print("\n‚ùì Valores nulos en columnas clave:")
cols_importantes = ['nombreZonaAreaGeoMundo', 'Pais', 'tipo_desplazamiento', 'year',
       'Unidad', 'valor', 'Textbox4', 'Textbox6', 'Textbox16']
for col in cols_importantes:
    nulos = df_co597[col].isnull().sum()
    print(f"  {col}: {nulos} ({nulos/len(df_co597)*100:.1f}%)")

‚ùì Valores nulos en columnas clave:
  nombreZonaAreaGeoMundo: 0 (0.0%)
  Pais: 128 (12.9%)
  tipo_desplazamiento: 0 (0.0%)
  year: 0 (0.0%)
  Unidad: 0 (0.0%)
  valor: 2 (0.2%)
  Textbox4: 0 (0.0%)
  Textbox6: 96 (9.7%)
  Textbox16: 96 (9.7%)

In [28]:
# Crear copia para limpieza
df_co597_copy = df_co597.copy()


# Limpiar las columnas num√©ricas
columnas_numericas_limpiar = ['valor', 'Textbox6','Textbox16']

for col in columnas_numericas_limpiar:
    if col in df_co597_copy.columns:
        df_co597_copy[col] = df_co597_copy[col].apply(sl.limpiar_valor_numerico)

In [29]:
# Renombrar las columnas principales para claridad
df_co597_copy = df_co597_copy.rename(columns={
    'nombreZonaAreaGeoMundo': 'area',
    'Pais': 'pais',
    'tipo_desplazamiento': 'desplazamiento',
    'year': 'a√±o',
    'Unidad': 'unidad',
    'Valor': 'valor',
    'Textbox4':'Textbox4',
    'Textbox6':'Textbox6',
    'Textbox16':'Textbox16'
})

# Seleccionar las columnas relevantes
columnas_relevantes = ['area','pais','desplazamiento','a√±o','unidad','valor']

df_co597_copy = df_co597_copy[columnas_relevantes].copy()
df_co597_copy.head()

    area pais desplazamiento   a√±o                           unidad    valor
0  UE-27  NaN       Recibido  2017               Miles de toneladas 45566.00
1  UE-27  NaN       Recibido  2017  Millones de toneladas-kil√≥metro 48173.00
2  UE-27  NaN       Recibido  2018               Miles de toneladas 48714.00
3  UE-27  NaN       Recibido  2018  Millones de toneladas-kil√≥metro 51804.00
4  UE-27  NaN       Recibido  2019               Miles de toneladas 49240.00

In [30]:
# Separar por tipo de unidad
df_co597_toneladas = df_co597_copy[
    df_co597_copy['unidad'] == 'Miles de toneladas'
].copy()

df_co597_ton_km = df_co597_copy[
    df_co597_copy['unidad'] == 'Millones de toneladas-kil√≥metro'
].copy()

df_co597_toneladas.columns = ['area','pais','desplazamiento','a√±o','unidad','toneladas(miles)']
df_co597_ton_km.columns = ['area','pais','desplazamiento','a√±o','unidad','ton-km(millones)']

# Eliminar la columna unidad ya que ahora es redundante
df_co597_toneladas = df_co597_toneladas.drop('unidad', axis=1)
df_co597_ton_km = df_co597_ton_km.drop('unidad', axis=1)

In [31]:
df_co597_final = df_co597_ton_km.merge(
    df_co597_toneladas,
    on=['area','pais','desplazamiento','a√±o'],
    how='inner',
    validate='one_to_one'  # ver si hay duplicados en las claves
)

# Eliminar NaN correspondientes a totales
if 'pais' in df_co597_final.columns:
        before = len(df_co597_final)
        df_co597_final = df_co597_final.dropna(subset=['pais'])
        print(f"Eliminadas {before - len(df_co597_final)} filas con NaN en columna 'pais'")

df_co597_final.head(10)

Eliminadas 64 filas con NaN en columna 'pais'

     area      pais desplazamiento   a√±o  ton-km(millones)  toneladas(miles)
16  UE-27  Alemania       Recibido  2017           9608.00           5532.00
17  UE-27  Alemania       Recibido  2018           9838.00           5646.00
18  UE-27  Alemania       Recibido  2019          10936.00           6287.00
19  UE-27  Alemania       Recibido  2020           9800.00           5780.00
20  UE-27  Alemania       Recibido  2021          11443.00           6830.00
21  UE-27  Alemania       Recibido  2022          12197.00           7108.00
22  UE-27  Alemania       Recibido  2023          11208.00           6442.00
23  UE-27  Alemania       Recibido  2024          10639.00           6225.00
24  UE-27  Alemania       Expedido  2017          12398.00           6911.00
25  UE-27  Alemania       Expedido  2018          12854.00           7160.00

In [32]:
# Guardar el archivo limpio
archivo_co597_clean = os.path.join(ruta_processed, 'CO597_transporte_mercancias_internacional.csv')
df_co597_final.to_csv(archivo_co597_clean, index=False, encoding='utf-8')

print(f"‚úÖ Archivo guardado: {archivo_co597_clean}")

‚úÖ Archivo guardado: ../data/processed\CO597_transporte_mercancias_internacional.csv

## √çndice Global de Desempe√±o Log√≠stico

In [33]:
print("\n" + "="*55)
print("üìÇ √çNDICE GLOBAL DE DESEMPE√ëO LOG√çSTICO 2017-2024")
print("="*55)

=======================================================
üìÇ √çNDICE GLOBAL DE DESEMPE√ëO LOG√çSTICO 2017-2024
=======================================================

In [34]:
path_df_lpi = os.path.join(ruta_interim, 'indice_desempe√±o_LPI_interim.csv')
df_lpi = pd.read_csv(path_df_lpi)

print("=== INFORMACI√ìN GENERAL ===")
print(f"Total de filas: {len(df_lpi)}")
print(f"Total de columnas: {len(df_lpi.columns)}")
print(f"\nColumnas: {list(df_lpi.columns)}")

=== INFORMACI√ìN GENERAL ===
Total de filas: 280
Total de columnas: 4

Columnas: ['pais', 'indice', 'a√±o', 'puntuacion']

In [35]:
# Ver las primeras filas
print("=== PRIMERAS 15 FILAS ===")
print(df_lpi.head(15))

=== PRIMERAS 15 FILAS ===
        pais                                      indice   a√±o  puntuacion
0   Alemania  √çndice global de desempe√±o log√≠stico (LPI)  2018        4.20
1   Alemania  √çndice global de desempe√±o log√≠stico (LPI)  2023        4.10
2   Alemania                                     Aduanas  2018        4.09
3   Alemania                                     Aduanas  2023        3.90
4   Alemania                             Infraestructura  2018        4.37
5   Alemania                             Infraestructura  2023        4.30
6   Alemania                    Transporte internacional  2018        3.86
7   Alemania                    Transporte internacional  2023        3.70
8   Alemania                       Competencia log√≠stica  2018        4.31
9   Alemania                       Competencia log√≠stica  2023        4.20
10  Alemania                                Trazabilidad  2018        4.24
11  Alemania                                Trazabilidad  2023        4.20
12  Alemania                                 Puntualidad  2018        4.39
13  Alemania                                 Puntualidad  2023        4.10
14    Espa√±a  √çndice global de desempe√±o log√≠stico (LPI)  2018        3.83

In [36]:
# Informaci√≥n sobre el tipo de datos
print("=== TIPOS DE DATOS ===")
print(df_lpi.dtypes)
print("\n=== VALORES NULOS ===")
print(df_lpi.isnull().sum())

=== TIPOS DE DATOS ===
pais           object
indice         object
a√±o             int64
puntuacion    float64
dtype: object

=== VALORES NULOS ===
pais          0
indice        0
a√±o           0
puntuacion    0
dtype: int64

In [37]:
# Ver √≠ndices
print("=== √çNDICES/INDICADORES √öNICOS ===")
for i, indice in enumerate(df_lpi['indice'].unique(), 1):
    print(f"{i}. {indice}")
print(f"\nTotal de √≠ndices: {df_lpi['indice'].nunique()}")

=== √çNDICES/INDICADORES √öNICOS ===
1. √çndice global de desempe√±o log√≠stico (LPI)
2. Aduanas
3. Infraestructura
4. Transporte internacional
5. Competencia log√≠stica
6. Trazabilidad
7. Puntualidad

Total de √≠ndices: 7

In [38]:
# Ver los a√±os 
print("=== A√ëOS DISPONIBLES ===")
print(sorted(df_lpi['a√±o'].unique()))
print(f"\nRango: {df_lpi['a√±o'].min()} - {df_lpi['a√±o'].max()}")

=== A√ëOS DISPONIBLES ===
[np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023), np.int64(2024)]

Rango: 2017 - 2024

In [39]:
# Estad√≠sticas de las puntuaciones
print("=== ESTAD√çSTICAS DE PUNTUACIONES ===")
print(df_lpi['puntuacion'].describe())
print(f"\nPuntuaci√≥n m√≠nima: {df_lpi['puntuacion'].min()}")
print(f"Puntuaci√≥n m√°xima: {df_lpi['puntuacion'].max()}")

=== ESTAD√çSTICAS DE PUNTUACIONES ===
count   280.00
mean      3.97
std       0.27
min       3.40
25%       3.80
50%       3.90
75%       4.20
max       4.60
Name: puntuacion, dtype: float64

Puntuaci√≥n m√≠nima: 3.4
Puntuaci√≥n m√°xima: 4.6

In [40]:
# Verificar si hay espacios en blanco innecesarios
print("=== VERIFICACI√ìN DE ESPACIOS EN BLANCO ===")
print("\nEn la columna 'pais':")
for pais in df_lpi['pais'].unique():
    print(f"  '{pais}' - Longitud: {len(pais)}")

print("\nEn la columna 'indice':")
for indice in df_lpi['indice'].unique():
    print(f"  '{indice}' - Longitud: {len(indice)}")

=== VERIFICACI√ìN DE ESPACIOS EN BLANCO ===

En la columna 'pais':
  'Alemania' - Longitud: 8
  'Espa√±a' - Longitud: 6
  'Francia' - Longitud: 7
  'Italia' - Longitud: 6
  'Pa√≠s puntuaci√≥n m√°xima' - Longitud: 22

En la columna 'indice':
  '√çndice global de desempe√±o log√≠stico (LPI)' - Longitud: 42
  'Aduanas' - Longitud: 7
  'Infraestructura' - Longitud: 15
  'Transporte internacional' - Longitud: 24
  'Competencia log√≠stica' - Longitud: 21
  'Trazabilidad' - Longitud: 12
  'Puntualidad' - Longitud: 11

In [41]:
# Verificar si hay duplicados
print("=== VERIFICACI√ìN DE DUPLICADOS ===")
duplicados = df_lpi.duplicated().sum()
print(f"Total de filas duplicadas: {duplicados}")

if duplicados > 0:
    print("\nFilas duplicadas:")
    print(df_lpi[df_lpi.duplicated(keep=False)])

=== VERIFICACI√ìN DE DUPLICADOS ===
Total de filas duplicadas: 0

In [42]:
# Ver la distribuci√≥n de datos por pa√≠s y a√±o
print("=== DISTRIBUCI√ìN DE DATOS ===")
print("\nRegistros por pa√≠s:")
print(df_lpi['pais'].value_counts())

print("\nRegistros por a√±o:")
print(df_lpi['a√±o'].value_counts().sort_index())

=== DISTRIBUCI√ìN DE DATOS ===

Registros por pa√≠s:
pais
Alemania                  56
Espa√±a                    56
Francia                   56
Italia                    56
Pa√≠s puntuaci√≥n m√°xima    56
Name: count, dtype: int64

Registros por a√±o:
a√±o
2017    35
2018    35
2019    35
2020    35
2021    35
2022    35
2023    35
2024    35
Name: count, dtype: int64

In [43]:
# Crear una copia
df_lpi_copy = df_lpi.copy()

print("=== ANTES DE LA LIMPIEZA ===")
print(f"Total de filas: {len(df_lpi_copy)}")
print(f"\nPa√≠ses √∫nicos:")
print(df_lpi_copy['pais'].unique())

=== ANTES DE LA LIMPIEZA ===
Total de filas: 280

Pa√≠ses √∫nicos:
['Alemania' 'Espa√±a' 'Francia' 'Italia' 'Pa√≠s puntuaci√≥n m√°xima']

In [44]:
# PASO 1: Eliminar "Pa√≠s puntuaci√≥n m√°xima"
df_lpi_copy = df_lpi_copy[df_lpi_copy['pais'] != 'Pa√≠s puntuaci√≥n m√°xima']

print("=== DESPU√âS DE ELIMINAR 'Pa√≠s puntuaci√≥n m√°xima' ===")
print(f"Total de filas: {len(df_lpi_copy)}")
print(f"Filas eliminadas: {len(df_lpi) - len(df_lpi_copy)}")
print(f"\nPa√≠ses restantes:")
print(df_lpi_copy['pais'].unique())

=== DESPU√âS DE ELIMINAR 'Pa√≠s puntuaci√≥n m√°xima' ===
Total de filas: 224
Filas eliminadas: 56

Pa√≠ses restantes:
['Alemania' 'Espa√±a' 'Francia' 'Italia']

In [45]:
# Ordenar el dataset de forma l√≥gica
df_lpi_copy = df_lpi_copy.sort_values(by=['pais','a√±o', 'indice','puntuacion']).reset_index(drop=True)

print("=== DATASET ORDENADO ===")
print(df_lpi_copy.head(15))
print("\n‚úÖ Dataset ordenado correctamente")

=== DATASET ORDENADO ===
        pais                                      indice   a√±o  puntuacion
0   Alemania                                     Aduanas  2017        4.12
1   Alemania                       Competencia log√≠stica  2017        4.28
2   Alemania                             Infraestructura  2017        4.44
3   Alemania                                 Puntualidad  2017        4.45
4   Alemania                    Transporte internacional  2017        3.86
5   Alemania                                Trazabilidad  2017        4.27
6   Alemania  √çndice global de desempe√±o log√≠stico (LPI)  2017        4.23
7   Alemania                                     Aduanas  2018        4.09
8   Alemania                       Competencia log√≠stica  2018        4.31
9   Alemania                             Infraestructura  2018        4.37
10  Alemania                                 Puntualidad  2018        4.39
11  Alemania                    Transporte internacional  2018        3.86
12  Alemania                                Trazabilidad  2018        4.24
13  Alemania  √çndice global de desempe√±o log√≠stico (LPI)  2018        4.20
14  Alemania                                     Aduanas  2019        4.09

‚úÖ Dataset ordenado correctamente

In [46]:
# Verificaci√≥n final del dataset limpio
print("=== RESUMEN FINAL DEL DATASET LIMPIO ===")
print(f"Total de filas: {len(df_lpi_copy)}")
print(f"Total de columnas: {len(df_lpi_copy.columns)}")
print(f"\nColumnas: {list(df_lpi_copy.columns)}")
print(f"\nPa√≠ses: {df_lpi_copy['pais'].nunique()}")
print(f"Indicadores: {df_lpi_copy['indice'].nunique()}")
print(f"A√±os: {df_lpi_copy['a√±o'].nunique()}")

=== RESUMEN FINAL DEL DATASET LIMPIO ===
Total de filas: 224
Total de columnas: 4

Columnas: ['pais', 'indice', 'a√±o', 'puntuacion']

Pa√≠ses: 4
Indicadores: 7
A√±os: 8

In [47]:
print(df_lpi_copy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pais        224 non-null    object
 1   indice      224 non-null    object
 2   a√±o         224 non-null    int64
 3   puntuacion  224 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.1+ KB
None

In [48]:
# Estad√≠sticas por pa√≠s
print("=== REGISTROS POR PA√çS ===")
print(df_lpi_copy['pais'].value_counts().sort_index())

print("\n=== ESTAD√çSTICAS DE PUNTUACI√ìN POR PA√çS ===")
print(df_lpi_copy.groupby('pais')['puntuacion'].agg(['count', 'mean', 'min', 'max']).round(2))

=== REGISTROS POR PA√çS ===
pais
Alemania    56
Espa√±a      56
Francia     56
Italia      56
Name: count, dtype: int64

=== ESTAD√çSTICAS DE PUNTUACI√ìN POR PA√çS ===
          count  mean  min  max
pais
Alemania     56  4.18 3.70 4.45
Espa√±a       56  3.83 3.48 4.20
Francia      56  3.86 3.55 4.25
Italia       56  3.74 3.40 4.13

In [49]:
ruta_salida = os.path.join(ruta_processed, 'indice_desempeno_logistico_clean.csv')
df_lpi_copy.to_csv(ruta_salida, index=False, encoding='utf-8-sig')

print(f"‚úÖ Dataset limpio guardado en:\n{ruta_salida}")

‚úÖ Dataset limpio guardado en:
../data/processed\indice_desempeno_logistico_clean.csv